.softskills {
    
    position: absolute;
    width: 1400px;
    
}
.softskills h1  {
    
    margin-left: 480px;
}
.softskills table {
    margin-left: 130px;
    
}
.softskills .qualites {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}


.technicalskills {
    margin-left: 300px;
    margin-top: 400px;
    position: absolute;
}
.technicalskills .barprogress {
    width: 500px;
}
.technicalskills h1 {
    text-align: center;
}


