.reseauxsociaux {
    background-size: cover;
  text-align: center;
  padding: 160px 50px 5 50px;
  margin-top: 50px;
  position: absolute;
  margin-left: -350px;
}
.reseauxsociaux .footer-icons {
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-left: 300px;
  }
.reseauxsociaux .network {
    font-size: 4em;
    border: 1px solid #b3aca7;
    padding: 30px 45px;
    color: #726659;
    z-index: -1 !important;
    border-radius: 50%;
  }

.reseauxsociaux .network:hover, textarea:hover, input:hover, .form-button:hover {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
  }



  



